.posts{
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
    background-color: #FFFFFF;
}

.posts__image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.posts__header{
    display: flex;
    align-items: center;
    padding: 20px;
}

.posts__avatar{
    margin-right: 10px;
}

.posts__text{
    padding: 20px;
}

.posts__commentbox{
    display: flex;
    margin-top: 10px;
}

.posts__input{
    flex: 1;
    border: none;
    border-top: 1px solid lightgray;
    padding: 10px;
}

.posts__comment{
    padding: 20px;
}

.posts__button{
    flex: 0;
    color: blue;
    background-color: transparent;
    border: none;
    border-top: 1px solid lightgray;
}

.comment{
    color: #9D9D9D;
}

.free{
    margin-top: 20px;
    margin-right: 1040px;
}

.info{
    border: 2px solid lightgray;
    display: inline-block;
    width: 25%;
    padding: 50px;
    position: relative;
    left: 40%;
}